<!-- Google Drive Integration -->
<div id="card-integration-google-drive" class="card mb-2 mt-2">
    <h5 class="card-header h5">Google Drive</h5>
    <div class="card-body">
        <script>
            var google_drive_access_token = "{{ google_drive_access_token if google_drive_access_token else 'null' }}";
            if (google_drive_access_token === "null") {
                google_drive_access_token = null;
            }
        </script>
        <div class="row">
            <div id="google-drive-integration" class="col-md-4">
                <img src="{{ url_for('static', filename='img/google_drive.png') }}" alt="Google Drive Integration" class="img-fluid mb-3">
                <p class="card-text">Integrate your Google Drive with Lorelai to index your documents. Currently supports individual google docs and folders (we'll only pick up google docs inside those folders, other file types will be ignored)</p>
            </div>
            <div id="google-drive-integration-actions" class="col-md-8">

                <h5 class="card-title h5">Actions:</h5>
                <p>Use the following buttons to authorize Lorelai to index specific Google Drive files and folders:</p>
                <button class="btn btn-primary" id="authorize_button" onclick="codeClient.requestCode()">Authorize</button>
                <button class="btn btn-secondary d-none" id="signout_button" onclick="handleSignoutClick()">Sign Out</button>
                <button class="btn btn-secondary d-none" id="select_button" onclick="createPicker()">Select Folders/Documents</button>
                <a href="{{ url_for('indexing.indexing_runs', datasource_type='google_drive') }}" class="btn btn-info">View Indexing History</a>

                <h5 class="card-title h5 mt-4">Documents Indexed:</h5>
                <div class="list-group mt-3">
                {%if google_docs_to_index %}
                    <table class="table table-hover table-bordered">
                        <thead class="table-light">
                            <tr>
                                <th scope="col" class="align-middle">Name</th>
                                <th scope="col" class="align-middle">Type</th>
                                <th scope="col" class="align-middle">Last Indexed</th>
                                <th scope="col" class="align-middle">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="content">
                        {% for doc in google_docs_to_index %}
                            <tr>
                                <td class="align-middle">
                                    <div class="d-flex align-items-center">
                                        <img src="{{ doc.icon_url }}" alt="Google Drive Icon" class="me-2" style="width: 20px; height: 20px; object-fit: contain;">
                                        <span>{{ doc.item_name }}</span>
                                        <span class="info-icon" data-bs-toggle="tooltip" title="Google Docs ID: {{ doc.google_drive_id }}">
                                            &nbsp;<i class="bi bi-info-circle"></i>
                                        </span>
                                    </div>
                                </td>
                                <td class="align-middle">{{ doc.item_type }}</td>
                                <td class="align-middle">{{ doc.last_indexed_at }}</td>
                                <td class="align-middle">
                                    <div class="btn-group" role="group">
                                        <button class="btn btn-outline-danger btn-sm" onclick="removeDocument('{{ doc.google_drive_id }}')">Remove</button>
                                        <button class="btn btn-outline-primary btn-sm" onclick="window.open('{{ doc.item_url }}', '_blank')">View</button>
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const CLIENT_ID = '{{ config["GOOGLE_CLIENT_ID"] }}';
    const API_KEY = '{{ config["GOOGLE_API_KEY"] }}';
    const APP_ID = '{{ config["GOOGLE_APP_ID"] }}';
    let accessToken = '{{ google_drive_access_token if google_drive_access_token else null }}';
</script>
<script src="{{ url_for('static', filename='js/google-drive-integration.js') }}"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
<script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
