<!-- Google Drive Integration -->
<div id="card-integration-google-drive" class="card mb-2 mt-2">
    <h5 class="card-header h5">Google Drive</h5>
    <div class="card-body">
        <div class="row">
            <div id="google-drive-integration" class="col-md-4">
                <img src="{{ url_for('static', filename='img/google_drive.png') }}" alt="Google Drive Integration" class="img-fluid mb-3">
                <p class="card-text">Integrate your Google Drive with Lorelai to index your documents. Currently supports individual google docs and folders (we'll only pick up google docs inside those folders, other file types will be ignored)</p>
            </div>
            <div id="google-drive-integration-actions" class="col-md-8">

                <h5 class="card-title h5">Actions:</h5>
                <p>Use the following buttons to authorize Lorelai to index specific Google Drive files and folders:</p>
                <button class="btn btn-primary" id="authorize_button" onclick="codeClient.requestCode()">Authorize</button>
                <button class="btn btn-secondary" id="signout_button" onclick="handleSignoutClick()">Sign Out</button>
                <button class="btn btn-secondary" id="select_button" onclick="createPicker()">Select Folders/Documents</button>

                <h5 class="card-title h5 mt-4">Documents Indexed:</h5>
                <div class="list-group mt-3">
                {%if google_docs_to_index %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Type</th>
                                <th scope="col">Last Indexed</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="content">
                        {% for doc in google_docs_to_index %}
                            <tr>
                                <td><h5 class="mb-1">{{ doc.item_name }}
                                    <span class="info-icon" data-bs-toggle="tooltip" title="Google Docs ID: {{ doc.google_drive_id }}">
                                        <i class="bi bi-info-circle"></i>
                                    </span>
                                </h5></td>
                                <td>{{ doc.item_type }}</td>
                                <td>{{ doc.last_indexed_at }}</td>
                                <td>
                                    <button class="btn btn-primary btn-sm mb-2" onclick="removeDocument('{{ doc.google_drive_id }}')">Remove from Index</button>
                                    {% if doc.item_type == 'document' %}
                                        <button class="btn btn-primary btn-sm" onclick="window.open('https://docs.google.com/document/d/{{ doc.google_drive_id }}', '_blank')">View File</button>
                                    {% elif doc.item_type == 'folder' %}
                                        <button class="btn btn-primary btn-sm" onclick="window.open('https://drive.google.com/drive/folders/{{ doc.google_drive_id }}', '_blank')">Open Folder</button>
                                    {% elif doc.item_type == 'file' %}
                                        <button class="btn btn-primary btn-sm" onclick="window.open('https://drive.google.com/file/d/{{ doc.google_drive_id }}', '_blank')">View File</button>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const CLIENT_ID = '{{ google_client_id }}';
    const API_KEY = '{{ google_api_key }}';
    const APP_ID = '{{ google_app_id }}';

    let accessToken = {% if google_drive_access_token %}'{{ google_drive_access_token }}'{% else %}null{% endif %};
</script>
<script src="/js/google-drive-integration.js"></script>
<script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
<script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
