FlashRank~=0.2.5
google-api-python-client~=2.131.0
google-auth~=2.29.0
google-auth-httplib2~=0.2.0
google-auth-oauthlib~=1.2.0
langchain~=0.2.1
langchain-community~=0.2.1
langchain-google-community~=1.0.4
langchain-openai~=0.1.8
langchain-pinecone~=0.1.1
mysql-connector-python~=8.4.0
pinecone-client==4.1.0
redis~=5.0.4
rq~=1.16.2
