FlashRank==0.2.9
Flask==3.0.3
flask-debugtoolbar==0.15.1
google-api-python-client==2.141.0
google-auth==2.34.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
langchain==0.2.14
langchain-community==0.2.12
langchain-openai==0.1.22
langchain-pinecone==0.1.3
git+https://github.com/walterheck/langchain-google.git@fix/drive-scope#egg=langchain_google_community&subdirectory=libs/community
mysql-connector-python==9.0.0
pinecone-client==5.0.1
PyJWT==2.9.0
python-ulid==2.7.0
redis==5.0.8
rq==1.16.2
sendgrid==6.11.0
werkzeug==3.0.3
