FlashRank~=0.2.6
google-api-python-client~=2.136.0
google-auth~=2.31.0
google-auth-httplib2~=0.2.0
google-auth-oauthlib~=1.2.0
langchain~=0.2.6
langchain-community~=0.2.6
langchain-google-community~=1.0.6
langchain-openai~=0.1.14
langchain-pinecone~=0.1.1
mysql-connector-python~=9.0.0
pinecone-client<=4.0.0
redis~=5.0.7
rq~=1.16.2
