{
    "google": {
        "client_id": "client_id_here",
        "project_id": "project_id_here",
        "client_secret": "client_secret_here",
        "redirect_uris": [
            "redirect_uris_here"
        ]
    },
    "pinecone": {
        "api_key": "pinecone_api_key_here"
    },
    "openai": {
        "api_key": "openapi_key_here"
    },
    "lorelai": {
        "environment": "the stage of this environment eg dev/prod/qa",
        "environment_slug": "a name to recognise this env by"
    },
    "db": {
        "db_path": "./userdb.sqlite"
    },
    "slack": {
        "client_id": "YOUR_SLACK_CLIENT_ID",
        "client_secret": "YOUR_SLACK_CLIENT_SECRET",
        "redirect_uri": "YOUR_REDIRECT_URI",
        "authorization_url": "https://slack.com/oauth/v2/authorize",
        "token_url": "https://slack.com/api/oauth.v2.access"
  }
}
