{
    "google": {
        "client_id": "client_id_here",
        "project_id": "project_id_here",
        "client_secret": "client_secret_here",
        "api_key": "google api key"
    },
    "pinecone": {
        "api_key": "pinecone_api_key_here",
        "region": "aws-region-here",
        "metric": "cosine"
    },
    "openai": {
        "api_key": "openapi_key_here"
        "model": "gpt-4o-mini"
    },
    "redis": {
        "url": "redis_url_here"
    }
    "lorelai": {
        "secret_key": "secret key here",
        "environment": "the stage of this environment eg dev/prod/qa",
        "environment_slug": "a name to recognise this env by",
        "redirect_uri":"http://127.0.0.1:5000",
        "model_type": "OpenAILlm",
        "chat_task_timeout": 20,
        "support_portal": "https://support.helixiora.com/support/solutions/201000092447",
        "support_email": "support@helixiora.com",
        "free_msg_limit": 20,
        "jwt_secret_key":"KEY"
    },
    "embeddings": {
        "model": "text-embedding-ada-002",
        "chunk_size": 4000
    },
    "sendgrid": {
        "api_key": " apikey here",
        "invite_template_id": "d-709a4aaf4af14541a9a31aba7c773bae"
    },
    "sentry": {
        "dsn": "https://<<dsn here>>"
    },
    "db": {
        "host": "your_mysql_server",
        "port": 3306,
        "user": "the_db_user",
        "database": "the_name_of_your_db",
        "password": "the_password_for_your_user"
    },
    "slack": {
        "client_id": "xxxx",
        "client_secret": "xxxx",
        "redirect_uri": "https://redirectmeto.com/https://127.0.0.1:5000/slack/auth/callback",
        "authorization_url": "https://slack.com/oauth/v2/authorize",
        "token_url": "https://slack.com/api/oauth.v2.access"
    },
    "features": {
        "slack":0,
        "google_drive":1
    }
}
