{
    "google": {
        "client_id": "client_id_here",
        "project_id": "project_id_here",
        "client_secret": "client_secret_here",
        "redirect_uris": [
            "redirect_uris_here"
        ]
    },
    "pinecone": {
        "api_key": "pinecone_api_key_here"
    },
    "openai": {
        "api_key": "openapi_key_here"
    },
    "lorelai": {
        "environment": "the stage of this environment eg dev/prod/qa",
        "environment_slug": "a name to recognise this env by"
    },
    "db": {
        "host": "your_mysql_server",
        "user": "the_db_user",
        "database": "the_name_of_your_db",
        "password": "the_password_for_your_user"
    }
}
