{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Details for Index: {{ index_host }}</h1>
    <table id="metadataTable" class="display">
        <thead>
            <tr>
                <th>Title</th>
                <th>Source</th>
                <th>User</th>
                <th>ID</th>
            </tr>
        </thead>
        <tbody>
            {% for item in metadata %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.source }}</td>
                    <td>{{ item.user }}</td>
                    <td>{{ item.id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/admin/pinecone">Back to Index List</a>
</div>

<script>
$(document).ready(function() {
    $('#metadataTable').DataTable({
        "pagingType": "simple_numbers", // Enables simple pagination
        "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]], // Sets the number of rows per page
        "order": [[0, "asc"]] // Sorts the table by the first column in ascending order
    });
});
</script>
{% endblock %}
