        <script src="{{ url_for('static', filename='js/indexer.js') }}"></script>

        <!-- LorelAI Indexer Section -->
        <div id="card-indexer" class="card mb-2 mt-2">
            <h5 class="h5 card-header">Document Indexer</h5>
            <div class="card-body">
                <p>Select an option below to start the document indexing process:</p>

                <div class="d-flex align-items-center mb-2">
                    <button id="index_button" class="btn btn-primary btn-block me-2" style="flex: 0.5;" onclick="startIndexing('user')">Current User</button>
                    <div style="flex: 2;">Indexes all the data sources for the current user.</div>
                </div>

                {% if ('super_admin' in session.get('user.user_roles', [])) or ('org_admin' in session.get('user.user_roles', [])) %}
                    <div class="d-flex align-items-center mb-2">
                        <button class="btn btn-primary btn-block me-2" style="flex: 0.5;" onclick="startIndexing('organisation')">Current Organisation</button>
                        <div style="flex: 2;">Indexes all the data sources for the current organisation.</div>
                    </div>
                {% endif %}

                {% if 'super_admin' in session.get('user.user_roles', []) %}
                    <div class="d-flex align-items-center mb-2">
                        <button class="btn btn-primary btn-block me-2" style="flex: 0.5;" onclick="startIndexing('all')">All Users</button>
                        <div style="flex: 2;">Indexes Google drive for all users. <strong>Warning:</strong> This could be a lengthy process.</div>
                    </div>
                {% endif %}

                <div>
                    <div class="alert" id="statusMessage" role="alert" style="display: none;"></div>
                    <p>Once indexing is complete, you will receive a notification in the top-left corner of the screen as well as an email if you have enabled that.</p>
                </div>
            </div>
        </div>

        {% if current_user.has_role('super_admin') %}
        <div class="card mb-4">
            <div class="card-header">
                <h2 class="h4 mb-0">Indexing Administration</h2>
            </div>
            <div class="card-body">
                <div class="d-flex gap-3">
                    <a href="{{ url_for('admin.indexing_runs') }}" class="btn btn-primary">
                        View All Indexing Runs
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
