{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Details for Index: {{ index_host }}</h1>
    <table id="metadataTable" class="display">
        <thead>
            <tr>
                {% for item in metadata[:1] %}
                    {% for key in item.keys() %}
                        <th>{{ key|title }}</th>
                    {% endfor %}
                {% else %}
                    <th>No data available</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in metadata %}
                <tr>
                    {% for key in item.keys() %}
                        <td>{{ item[key] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/admin/pinecone" class="btn btn-primary mt-3">Back to Index List</a>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    $(document).ready(function() {
        $('#metadataTable').DataTable({
            "pagingType": "simple_numbers",
            "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
            "order": [[0, "asc"]],
            "columnDefs": [
                {
                    "targets": "_all",
                    "render": function(data, type, row) {
                        if (type === 'display' && data && data.length > 100) {
                            return '<span title="' + data + '">' + data.substr(0, 100) + '...</span>';
                        }
                        return data;
                    }
                }
            ]
        });
    });
});
</script>
{% endblock %}
