<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Org Name</title>
</head>
<body>
    <h2>You must create custom organization as your email does not belong to any organization</h2>
    <form action="/submit_custom_org" method="post">
        <label for="org_name">Enter Org Name:</label><br>
        <input type="text" id="org_name" name="org_name"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
