{% extends "base.html" %}

{% block title %}Lorelai{% endblock %}

{% block content %}
<script src="{{ url_for('serve_js', script_name='script') }}"></script>
<style>
    .hidden {
        display: none;
    }
    #loading {
        text-align: right;
        white-space: nowrap;
    }
    .dot-pulse {
        display: inline-block;
        position: relative;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #4b9feb;
        margin: 0 3px;
        animation: dot-pulse 1.5s infinite linear;
    }
    .dot-pulse::before, .dot-pulse::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #4b9feb;
    }
    .dot-pulse::before {
        left: -15px;
        animation: dot-pulse-before 1.5s infinite linear;
    }
    .dot-pulse::after {
        left: 15px;
        animation: dot-pulse-after 1.5s infinite linear;
        animation-delay: 0.5s;
    }
    .source-score {
    font-weight: bold;
    }

    .source-score:has(⚠️) {
        color: #ff9900; /* Orange color for warning */
    }
    @keyframes dot-pulse-before {
        0%, 60%, 100% {
            transform: scale(0.8);
        }
        30% {
            transform: scale(1);
        }
    }
    @keyframes dot-pulse {
        0%, 60%, 100% {
            transform: scale(0.8);
        }
        30% {
            transform: scale(1);
        }
    }
    @keyframes dot-pulse-after {
        0%, 60%, 100% {
            transform: scale(0.8);
        }
        30% {
            transform: scale(1);
        }
    }
</style>

<div class="h-screen flex">
    <div class="ml-20 flex-grow bg-[#eaf5ff] pt-2 flex flex-col justify-between">
        <!-- User Organization and Email Container -->
        <div class="pl-4 pt-2">
            <div class="text-black">
                <a href="/profile" class="text-[#4b9feb] text-sm">
                    <i class="bi bi-envelope" style="font-size: 2rem"></i> <span>{{ user_email }}</span>
                </a>
            </div>
        </div>
        <!-- Flash Messages -->
        <div class="container mt-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
        </div>
        <!-- Chat Message Area -->
        <div id="messages" class="flex-grow rounded-lg p-4 mb-4 overflow-y-auto">
            <!-- More messages will be added here dynamically -->
        </div>
        <!-- Input Box and Send Button -->
        <div class="pb-4 mx-auto w-full pl-8 pr-8">
            <div class="flex items-center bg-white rounded-md shadow-sm border">
                <input id="messageInput" type="text" placeholder="Type something to discover awesome stuff!" class="flex-grow p-4 rounded-l-md focus:outline-none">
                <!-- Datasource Select Dropdown -->
                <div class="pl-4 p-2">
                    <select id="datasourceSelect" class="bg-white border rounded pr-2">
                        {% for source in datasource_list %}
                            <option value="{{ source }}">{{ source }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button id="sendButton" class="bg-[#4b9feb] text-white rounded-r-md p-4 focus:outline-none">
                    <i class="bi bi-send-fill" style="font-size: 2rem"></i>
                </button>
            </div>
            <span class="text-center text-gray-800 text-sm block mt-2">Chatbot may display inaccurate info, including about people, so double-check its responses.</span>
        </div>
    </div>

</div>

<!-- Add Bootstrap JS for collapse functionality -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"></script>
{% endblock %}
