        <script src="{{ url_for('serve_js', script_name='indexer') }}"></script>

        <!-- Lorelai Indexer Section -->
        <div class="card mb-4 mt-4">
            <div class="card-header">
                <h2 class="h2">Document Indexer</h2>
            </div>
            <div class="card-body">
                <p>Select an option below to start the document indexing process:</p>

                <div class="d-flex align-items-center mb-2">
                    <button class="btn btn-primary btn-block me-2" style="flex: 0.5;" onclick="startIndexing('user')">Current User</button>
                    <div style="flex: 2;">Indexes all the data sources for the current user.</div>
                </div>

                {% if ('super_admin' in session.get('user_roles', [])) or ('org_admin' in session.get('user_roles', [])) %}
                    <div class="d-flex align-items-center mb-2">
                        <button class="btn btn-primary btn-block me-2" style="flex: 0.5;" onclick="startIndexing('organisation')">Current Organisation</button>
                        <div style="flex: 2;">Indexes all the data sources for the current organisation.</div>
                    </div>
                {% endif %}

                {% if 'super_admin' in session.get('user_roles', []) %}
                    <div class="d-flex align-items-center mb-2">
                        <button class="btn btn-primary btn-block me-2" style="flex: 0.5;" onclick="startIndexing('all')">All Users</button>
                        <div style="flex: 2;">Indexes all the data sources for all users. <strong>Warning:</strong> This could be a lengthy process.</div>
                    </div>
                {% endif %}

                <div class="mt-4">
                    <h3 class="h3">Indexing Status</h3>
                    <div class="alert" id="statusMessage" role="alert" style="display: none;"></div>
                    <div id="progressBarContainer" class="mt-3" style="display: none;">
                        <div class="progress" style="height: 30px;">
                            <div id="progressBar" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">0%</div>
                        </div>
                    </div>
                    <div class="mt-3">
                        <h4 class="h4">Indexing Log</h4>
                        <textarea id="logArea" class="form-control" style="font-family: monospace;" rows="5" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
