{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Welcome, {{ user.full_name }}!</h5>
            <p class="card-text">Here are some details about your current session:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Email: {{ user.email }}</li>
                <li class="list-group-item">Organisation: {{ user.organisation }}</li>
            </ul>
        </div>
    </div>

    <!-- Marketplace Integration Section -->
    <div class="mt-4">
        <h1 class="mb-3 strong" style="color: #000;">Integrations</h1>

        <!-- Google Drive Integration -->
        {% if features.google_drive %}
        <div class="card mb-3">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-md-4">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/google_drive.png') }}" alt="Google Drive Integration">
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title font-weight-bold">Enhance your experience</h5>
                        <h6 class="card-title">Google Drive Integration</h6>
                        <p class="card-text">Start feeding your business data to the hungry LLM!</p>
                        <button class="btn btn-primary" onclick="authorize()">Start Integration</button>
                        <button class="btn btn-secondary" onclick="revoke()">Revoke Integration</button>
                        <button class="btn btn-success" onclick="createPicker()">Choose Files</button>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <h5>Selected Drive Files</h5>
                        <ul id="files" class="list-group"></ul>
                        <button class="btn btn-primary mt-2" onclick="saveConfiguration()">Save Configuration</button>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<script async defer src="https://apis.google.com/js/api.js"></script>
<script async defer src="https://accounts.google.com/gsi/client"></script>
<script>
    let developerKey = 'AIzaSyBS3VWEmt4x4eDZLTcoM1qnz_ynT_UeDbM';
    let clientId = '188814832124-jic1ovt2a8vued9je3pdcg71imrdp67c.apps.googleusercontent.com';
    let appId = 'lorelai-non-prod';
    let scope = [
        'https://www.googleapis.com/auth/drive.file',
    ];

    let oauthToken;

    function onApiLoad() {
        gapi.load('auth', {'callback': onAuthApiLoad});
        gapi.load('picker', {'callback': onPickerApiLoad});
    }

    function gisLoaded() {
        // TODO: Replace with your client ID and required scopes.
        tokenClient = google.accounts.oauth2.initTokenClient({
            client_id: clientId,
            scope: scope,
            callback: '', // defined later
        });
        gisInited = true;
    }

    function onAuthApiLoad() {
        window.gapi.auth.authorize({
            'client_id': clientId,
            'scope': scope,
            'immediate': false
        }, handleAuthResult);
    }

    function onPickerApiLoad() {
        pickerApiLoaded = true;
    }

    function handleAuthResult(authResult) {
        if (authResult && !authResult.error) {
            oauthToken = authResult.access_token;
            createPicker();
        }
    }

    function createPicker() {
        if (pickerApiLoaded && oauthToken) {
            let view = new google.picker.View(google.picker.ViewId.DOCS);
            let picker = new google.picker.PickerBuilder()
                .enableFeature(google.picker.Feature.MULTISELECT_ENABLED)
                .setOAuthToken(oauthToken)
                .addView(view)
                .setDeveloperKey(developerKey)
                .setCallback(pickerCallback)
                .build();
            picker.setVisible(true);
        }
    }

    function pickerCallback(data) {
        if (data.action == google.picker.Action.PICKED) {
            let files = data.docs;
            const filesList = document.getElementById('files');
            filesList.innerHTML = '';
            files.forEach(file => {
                const li = document.createElement('li');
                li.className = 'list-group-item';
                li.innerHTML = `<input type="checkbox" name="files" value="${file.id}"> ${file.name}`;
                filesList.appendChild(li);
            });
        }
    }

    async function saveConfiguration() {
        const selectedFiles = [];
        document.querySelectorAll('input[name="files"]:checked').forEach(checkbox => {
            selectedFiles.push(checkbox.value);
        });
        const config = {
            includedFiles: selectedFiles,
        };
        const response = await fetch('/google/drive/save_configuration', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(config)
        });
        const data = await response.text();
        alert(data);
    }

    async function authorize() {
        window.location.href = '/authorize';
    }

    async function revoke() {
        const response = await fetch('/revoke');
        const data = await response.text();
        alert(data);
    }

    document.addEventListener('DOMContentLoaded', onApiLoad);
</script>
{% endblock %}
