{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Welcome, {{ user.full_name }}!</h5>
            <p class="card-text">Here are some details about your current session:</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Email: {{ user.email }}</li>
                <li class="list-group-item">Organisation: {{ user.organisation }}</li>
            </ul>
        </div>
        
        <!-- Marketplace Integration Section -->
        <div class="mt-4">
            <h2 class="mb-3" style="color: #000;">Integrations Marketplace</h2>
            <!-- Slack Integration -->
            {% if features.slack == 1 %}
            <div class="card mb-3">
                <div class="card-body bg-light">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="card-img-top" src="{{ url_for('static', filename='img/slack.jpg') }}" alt="Slack Integration">
                        </div>
                        <div class="col-md-8">
                            <h5 class="card-title font-weight-bold">Enhance your experience</h5>
                            <h6 class="card-title">Slack Integration</h6>
                            <p class="card-text">Start feeding your business data to the hungry LLM!</p>
                            <a href="/slack/auth" class="btn btn-primary">Start Integration</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <!-- Additional integrations can be added in similar div blocks -->
        </div>
    </div>

    <!-- Marketplace Integration Section -->
    <div class="mt-4">
        <h1 class="mb-3 strong" style="color: #000;">Integrations</h1>

        <!-- Google Drive Integration -->
        {% if features.google_drive %}
        <div class="card mb-3">
            <div class="card-body bg-light">
                <div class="row">
                    <div class="col-md-4">
                        <img class="card-img-top" src="{{ url_for('static', filename='img/google_drive.png') }}" alt="Google Drive Integration">
                    </div>
                    <div class="col-md-8">
                        <h5 class="card-title font-weight-bold">Enhance your experience</h5>
                        <h6 class="card-title">Google Drive Integration</h6>
                        <p class="card-text">Start feeding your business data to the hungry LLM!</p>
                        <a class="btn btn-primary" href="{{ google_auth_url }}">Authorize</a>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>

{% endblock %}
