<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="g_csrf_token" content="" id="g_csrf_token">
    <title>{% block title %}LorelAI product demo{% endblock title %}</title>
    <script src="https://js-de.sentry-cdn.com/e796bbb91f31b46ccc5eb2eb32dbd0f8.min.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.3/css/dataTables.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intro.js@8.0.0-beta.1/minified/introjs.min.css" integrity="sha256-8blGASrO7QhbrzFwb0rDrMICadeyaaNRQp6VCRNKekA=" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <script src="https://accounts.google.com/gsi/client" async></script>
    {% block head %}
    {% endblock head%}
</head>
<body class="d-flex" data-username="{{ username }}">
    <!-- Left-hand Navigation Bar -->
    <nav class="bg-primary text-white p-2 fixed-top d-flex flex-column justify-content-between" id="sidebar"style="height: 100vh;">

        <div class="d-flex flex-column align-items-center">
            <!-- Logo container -->
            <div class="logo-container my-2" id="logoContainer">
                <img src="{{ url_for('static', filename='img/lorelai_inverted.png') }}" alt="Logo" style="width: 3.2rem;">
                <span class="notification-badge" id="notificationBadge"></span>
                <div class="notification-popover" id="notificationPopover">
                    <ul class="list-unstyled" id="notificationList"></ul>
                </div>
            </div>
            <!-- Navigation links -->
            <div class="d-flex flex-column align-items-center">
                <a href="/" class="d-flex flex-column align-items-center text-white text-decoration-none mb-3 w-100 nav-link">
                    <i class="bi bi-house-door" style="font-size: 2rem"></i>
                    <span class="nav-text mx-2">Home</span>
                </a>
                <!-- Add other navigation links here -->
            </div>
        </div>

        <div class="d-flex flex-column align-items-center mb-4">
            <!-- Profile and Admin links -->
            <a href="/profile" class="mb-3 d-flex flex-column align-items-center text-white text-decoration-none nav-link">
                <i class="bi bi-person-fill" style="font-size: 2rem"></i>
                <span class="nav-text mx-2">Profile</span>
            </a>
            {% if is_admin %}
                <a href="/admin" class="mb-3 d-flex flex-column align-items-center text-white text-decoration-none nav-link">
                    <i class="bi bi-person-fill-lock" style="font-size: 2rem"></i>
                    <span class="nav-text mx-2">Admin</span>
                </a>
            {% endif %}
            <!-- Logout link -->
            <a href="#" onclick="handleLogout(event)" class="d-flex flex-column align-items-center text-white text-decoration-none nav-link">
                <i class="bi bi-box-arrow-right" style="font-size: 2rem"></i>
                <span class="nav-text mx-2">Logout</span>
            </a>
        </div>

    </nav>

    <!-- Main content area -->
    <div class="content-wrapper flex-grow-1">
        {% block content %}
        <!-- This block will be overridden by child templates -->
        {% endblock content %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js" integrity="sha256-Fb0zP4jE3JHqu+IBB9YktLcSjI1Zc6J2b6gTjB0LpoM=" crossorigin="anonymous"></script>

    <!-- DataTables JS needs to be loaded after jQuery -->
    <script src="https://cdn.datatables.net/2.1.3/js/dataTables.min.js"></script>

    <!-- Token setup needs to happen before any authenticated requests -->
    <script>
        window.SENTRY_DSN = "{{ config['SENTRY_DSN'] }}"
        window.SENTRY_ENVIRONMENT = "{{ config['FLASK_ENV'] }}"
    </script>

    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/intro.js@8.0.0-beta.1/minified/intro.min.js" integrity="sha256-xs3xwodZm2f3bAjax5+VIOR6YWkaDaiSTi4Gb94ws5s=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <script>
        function handleLogout(event) {
            event.preventDefault();
            // Redirect to logout endpoint to clear session
            window.location.href = '/logout';
        }
    </script>

    {% block scripts %}
    {% endblock scripts%}
</body>
</html>
